@import "tailwindcss";

@theme {
  --color-bordeaux: #800020;
  --color-bordeaux-light: #a52a2a;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #fcfbf9;
  color: #1a1a1a;
}

